codelib/p02/src/test/resources/crawlinfo.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.innohub.com" elementFormDefault="qualified">

	<xs:element name="crawlInfo">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="host">
					<xs:complexType>
						<xs:element name="" type="xs:string" />
						<xs:element name="from" type="xs:string" />
						<xs:element name="heading" type="xs:string" />
						<xs:element name="body" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>